/*
 * Mobile view media queries
*/
@media only screen, (orientation: portrait) and (min-width: 768px) {
    .container {
        margin: 0 7% 0 7%;
    }

    /* .navbarLinks > h2 {
        display: none;
    } */
}

/* @media screen, (orientation: portrait) and (max-width: 679px) {
    .navbarLinks > h2 {
        display: none;
    }
} */

@media only screen and (max-width: 450px) {
    .container {
        margin: 0 7% 0 7%;
    }

    .navbarLinks > h2 {
        display: none;
    }
}

@media only screen and (max-width: 399px) {
        .container {
            margin: 0 7% 0 7%;
        }

        .navbarLinks > h2 {
            display: none;
        }
}



.container {
    display: flex;
    justify-content: center;
    margin: 0 25% 0 25%;
}


.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*
* keeps the article content from overflowing the margins
* (especially when very wide, code snippets are being converted into <pre> blocks in Markdown)
*/
/* .container article {
    max-width: 100%;
} */

.header {
    background-color: #484848;
    color: white;
    padding: 0.5em 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    font-family: 'Palanquin Dark', sans-serif;
}

.header > .navbarLinks {
    margin: 0;
    display: flex;
}

.navbarLinks {
    font-family: 'Palanquin', sans-serif;
}
.navbarLinks > h2 {
    margin: 0 0.7em 0 0.7em;
}
.navbarLinks > a {
    margin: 1em;
    color: black;
}



.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}
  